# This workflow will install Python dependencies, run tests and lint with a variety of Python versions
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Python package

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [3.6, 3.7, 3.8]

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Package
      run: |
        set -uve
        pip install setuptools wheel
        python setup.py sdist bdist_wheel
    - name: Lint & Test
      run: |
        python -m pip install -e .
        python -m pip install -r requirements-dev.txt
        pytest tests
        flake8 .
    - name: Build documentation
      run: |
        cd docs && make bundle
    - name: Upload artifacts
      uses: actions/upload-artifact@v2
      with:
        name: Freta python CLI/SDK whl
        path: dist/freta-*.whl
